__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.env
.venv/
venv/
.venv-lock-*/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
junit.xml
htmlcov/
.scannerwork/
*.log
